<!DOCTYPE html>
<html>
<head>
<title>Upload to S3</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="robots" content="noindex">
<link rel="stylesheet" href="https://newcss.net/lite.css">
<script src="static/main.js"></script>
</head>
<body>

<div id="result"></div>

<form class=inputs onsubmit="return fileSelected(this);">
<label>
<strong>Optional:</strong> Upload file name
<input type=text pattern="([0-9]|[A-Z]|[a-z]|[!\-_.*'\(\)])+" id=filename autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
</label>
<label>Upload file <input id="uploadFile" type=file required></label>
<input id="uploadButton" name="uploadButton" type=submit value="Upload" disabled>
<input type="reset">
</form>

<p>Bucket: <code>{{ .BUCKET }}</code></p>

</body>
</html>
