<!DOCTYPE html>
<html>
<head>
<title>Set password</title>
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex">
</head>
<body>
<form action="setpassword" method="post">
<input type="password" name="password">
<input type="submit" value="Submit">
</form>
</body>
</html>
